IO_LOC  "io_sclk" 27;
IO_PORT "io_sclk" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_sdin" 26;
IO_PORT "io_sdin" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_reset" 25;
IO_PORT "io_reset" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_dc" 39;
IO_PORT "io_dc" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "io_cs" 36;
IO_PORT "io_cs" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
